*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-visual-1{
  width:100%;
  height: 200px;
  background-image:url(img/box1.jpg);
  background-position: top center;

}

.main-visual-2{
  width:100%;
  height: 200px;
  background-image:url(img/box2.jpg);
  background-position: left center;
}

.main-visual-3{
  width:100%;
  height: 200px;
  background-image:url(img/box3.jpg);
  background-position: right center;
}

.main-visual-4{
  width:100%;
  height: 200px;
  background-image:url(img/box4.jpg);
  background-position: center;
}
